<h1>Assessment Center</h1>

<h2>Please select a task</h2>

<form [formGroup]="assessmentForm" (ngSubmit)="handleSubmit(question)">
    <div class="form-group">
        <label for="task">Task</label>
        <select
            name="task"
            id="task"
            formControlName="task_id"
            (ngModelChange)="onTaskChange($event)" [ngModel]="task_id">
            <option value="0" disabled selected>Select Task</option>
            <option *ngFor="let task of taskService.getTasks()"
                value="{{ task.id }}">
                {{ task.title }}
            </option>
        </select>
    </div>

    <p *ngIf="(selectedTask != null)">
        Task type:
        <strong>{{ selectedTask.assessment.type }}</strong>
    </p>

    <xp-open-answer-form
        *ngIf="(selectedTask != null &&
        selectedTask.assessment.mappedType() == 'Open-Answer')"
        [question]="question"
        [form]="assessmentForm">
    </xp-open-answer-form>

    <div
        *ngIf="(selectedTask != null &&
        selectedTask.assessment.mappedType() == 'Exam-Answer')">
        <div class="form-group">
            <label for="exam_question">Question #1</label>
            <input
                class="form-control"
                name="exam_question"
                formControlName="body"
                id="exam_question"
            />
        </div>
        <div class="form-group">
            <label for="correct_answer">Correct Answer</label>
            <input
                class="form-control"
                name="correct_answer"
                id="correct_answer"
            />
        </div>
        <div class="form-group">
            <label for="answer_explanation">Why is the answer correct?</label>
            <input
                class="form-control"
                name="answer_explanation"
                id="answer_explanation"
            />
        </div>
        <div class="form-group">
            <div class="row">
                <label class="col-lg-12">3 wrong answers</label>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <input
                        class="form-control"
                        name="wrong_answer_one"
                    />
                </div>
                <div class="col-lg-4">
                    <input
                        class="form-control"
                        name="wrong_answer_two"
                    />
                </div>
                <div class="col-lg-4">
                    <input
                        class="form-control"
                        name="wrong_answer_three"
                    />
                </div>
            </div>
        </div>

        <div class="form-group">
            <button
                type="submit"
                class="btn btn-default">
                Save question
            </button>
        </div>
    </div>
</form>