<h1>Admin Tasks</h1>

<div class="form-group">
    <button class="btn btn-primary" (click)="showCreateTaskForm()">Create task</button>
    <button class="hidden" id="open_modal" (click)="lgModal.show()">Show modal</button>
</div>

<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button id="close_modal" type="button" class="close" (click)="lgModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Task Form</h4>
            </div>
            <div class="modal-body task-form-modal">
                <xp-loading-indicator [wait]="taskFormSubscription">
                    <form [formGroup]="taskForm" (ngSubmit)="handleSubmit()">
                        <div class="form-group">
                            <label for="category_id">Select Category</label>
                            <select
                                name="category_id"
                                formControlName="category_id"
                                id="category_id">
                                <option *ngFor="let category of categoryService.repository.getData()"
                                    value="{{ category.id }}">
                                    {{ category.name }}
                                </option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="title">Title</label>
                            <input class="form-control"
                               formControlName="title"
                               type="text"
                               id="title"
                               name="title"
                               required
                            />
                        </div>

                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea
                                class="form-control"
                                rows="5"
                                formControlName="description"
                                name="description"
                                id="description"
                                required>
                            </textarea>
                        </div>

                        <div class="form-group">
                            <label for="time_estimation">Estimate completion time</label>
                            <input class="form-control"
                               formControlName="time_estimation"
                               type="text"
                               name="time_estimation"
                               id="time_estimation"
                               required
                            />
                        </div>

                        <div class="form-group">
                            <label for="disabled">Enabled?</label>
                            <input class="form-control"
                               formControlName="disabled"
                               type="checkbox"
                               name="disabled"
                               id="disabled"
                            />
                        </div>

                        <xp-admin-assessments-list
                            [form]="taskForm"
                            [name]="'assessment_type_id'">
                        </xp-admin-assessments-list>

                        <button
                            type="submit"
                            class="btn btn-default"
                            [disabled]="!taskForm.valid">
                            Submit
                        </button>
                        <div
                            *ngIf="(selectedTask != null)"
                            (click)="deleteTask()"
                            class="btn btn-default">
                            Disable
                        </div>
                    </form>
                </xp-loading-indicator>
            </div>
        </div>
    </div>
</div>

<h2>Please select a category</h2>
<div class="form-group">
    <label for="categoryId">Category</label>
    <select
        name="categoryId"
        id="categoryId"
        class="form-control"
        (ngModelChange)="onCategoryChange($event)"
        [(ngModel)]="categoryId">
        <option value="0" disabled selected>Select category</option>
        <option *ngFor="let category of categoryService.repository.getData()"
                value="{{ category.id }}">
            {{ category.name }}
        </option>
    </select>
</div>

<xp-loading-indicator [wait]="listFormSubscription">
    <div
        *ngIf="selectedCategory != null && categoryTasks.length > 0"
        class="tasks-holder"
        id="task_holder">
        <div
            class="list-group"
            [dragula]='"first-bag"'>
            <div
                *ngFor="let task of categoryTasks; let i = index"
                class="list-group-item draggable">
                <input
                    type="hidden"
                    value="{{ task.id }}"
                />
                <a
                    (click)="openUpdateForm(task)"
                    href="javascript:;">
                    {{ task.title }}
                </a>
                <div class="task-status">
                    <div [class]="switchLabels(task.disabled)">
                        {{ task.disabledText }}
                    </div>
                </div>
            </div>
        </div>
        <div
            (click)="updateList()"
            class="btn btn-primary">
            Update List Order
        </div>
    </div>
</xp-loading-indicator>
<div
    *ngIf="selectedCategory != null && categoryTasks.length === 0"
    class="alert alert-warning">
    No tasks found from chosen category.
</div>
