<h1>Admin panel</h1>

<ul class="list-group">
    <a
        class="list-group-item"
        routerLink="/admin/categories">
        Category Manager
    </a>
    <a
        class="list-group-item"
        routerLink="/admin/tasks">
        Task Manager
    </a>
    <a
        class="list-group-item"
        routerLink="/admin/assessments">
        Assessment Manager
    </a>
    <a
        class="list-group-item"
        routerLink="/admin/submissions">
        Submissions Manager
    </a>
</ul>