<xp-loading-indicator [wait]="formSubscription">
    <form [formGroup]="form" (ngSubmit)="handleSubmit()">
        <div class="form-group">
            <label for="open_question">State your question / project</label>
            <textarea
                formControlName="body"
                class="form-control"
                name="open_question"
                rows="5"
                id="open_question"></textarea>
        </div>
        <div class="form-group">
            <button
                type="submit"
                class="btn btn-default">
                Submit
            </button>
        </div>
    </form>
</xp-loading-indicator>