<div *ngIf="submission != null">
    <h1>{{ task.title }}</h1>
    <span>Submitted by {{ user.getName() }}</span>

    <div class="question">
        <h3>Question</h3>
        <p>{{ question.body }}</p>
    </div>

    <div class="submission">
        <h3>Submission from {{ user.getName() }}</h3>
        <p *ngIf="answer.type != ASSESSMENT_OPEN_ANSWER_TYPES.AUDIO">{{ answer.body }}</p>
        <p *ngIf="answer.type == ASSESSMENT_OPEN_ANSWER_TYPES.AUDIO">
            <xp-audio-player
                [source]="answer.body">
            </xp-audio-player>
        </p>
    </div>

    <ng-container [ngSwitch]="submission.status">
        <p *ngSwitchCase="TODO_STATUSES.SUBMITTED_FOR_REVIEW" class="alert alert-warning text-uppercase">
            Waiting for approval
        </p>
        <p *ngSwitchCase="TODO_STATUSES.DENIED" class="alert alert-danger text-uppercase">
            Denied
        </p>
        <p *ngSwitchCase="TODO_STATUSES.COMPLETED" class="alert alert-success text-uppercase">
            Approved
        </p>
    </ng-container>

    <div class="form-group">
        <button
            class="btn btn-primary"
            [disabled]="submission.status != TODO_STATUSES.SUBMITTED_FOR_REVIEW"
            (click)="approve(submission.id)">
            Approve
        </button>
        <button
            class="btn btn-danger"
            [disabled]="submission.status != TODO_STATUSES.SUBMITTED_FOR_REVIEW"
            (click)="deny(submission.id)">
            Deny
        </button>
        <a
            class="btn btn-default"
            routerLink="/admin/submissions/{{ task.category.getId() }}">
            Go Back
        </a>
    </div>
</div>
