.no-margin {
    margin: 0;
}
.left {
    float: left;
}
.right {
    float: right;
}
.block-display {
    display: block;
}
.padding-top-bottom {
    padding-bottom: 20px;
    padding-top: 20px;
 }
.alert {
    margin-top: 20px;
}
.draggable {
    cursor: -webkit-grab;
}
h1 {
    margin: 10px 0;
}
.line-break-pre {
    background: none;
    border: 0;
    white-space: pre-wrap;
    font-size: 14px;
    margin: 0;
    padding: 0;
    font-family: "Helvetica";
}