<div [ngSwitch]="currentMode">

    <xp-register-prerequisites
        *ngSwitchCase="modes.PREREQUISITES"
        (onToggleMode)="toggleMode(modes.MAIN_INFO)">
    </xp-register-prerequisites>

    <xp-register-main-info
        *ngSwitchCase="modes.MAIN_INFO"
        (onSubmit)="handleMainInfoSubmit($event)">
    </xp-register-main-info>

    <xp-register-time-investment
        *ngSwitchCase="modes.TIME_INVESTMENT"
        (onSubmit)="handleTimeInvestmentSubmit($event)">
    </xp-register-time-investment>

    <xp-register-additional-info
        *ngSwitchCase="modes.ADDITIONAL_INFO"
        (onSubmit)="handleAdditionalInfoSubmit($event)">
    </xp-register-additional-info>

</div>
