<form [formGroup]="form" (ngSubmit)="handleSubmit()">
    <input
        type="hidden"
        name="id"
        class="form-control"
        id="id"
        formControlName="id"
    />
    <div class="form-group">
        <label for="name">Category name</label>
        <input
            type="text"
            name="name"
            class="form-control"
            id="name"
            formControlName="name"
            placeholder="Name"
            required
        />
    </div>
    <button
        type="button"
        class="btn btn-default"
        (click)="handleCancel()">
        Cancel
    </button>
    <button
        type="submit"
        class="btn btn-primary"
        [disabled]="! form.valid">
        Submit
    </button>
    <div
        *ngIf="category"
        (click)="handleDelete(category)"
        class="btn btn-danger">
        Delete
    </div>
    <div
        *ngIf="showCreationSuccess"
        class="alert alert-success">
        Category created successfully.
    </div>
</form>