<h1>Approval Center</h1>

<div class="form-group">
    <label for="category_id">Category</label>
    <select
        name="category_id"
        id="category_id"
        class="form-control"
        (ngModelChange)="onCategoryChange($event)"
        [ngModel]="category">
        <option value="" selected disabled>Please select a category</option>
        <option
            *ngFor="let category of categoryService.repository.getData()"
            value="{{ category.id }}">
            {{ category.name }}
        </option>
    </select>
</div>

<div
    *ngFor="let user of categoryUsers"
    class="panel panel-default">
    <div class="panel-heading">{{ user.first_name }} {{ user.last_name }}</div>
    <ul class="list-group">
        <li class="list-group-item">
            <a
                *ngFor="let submission of submissionService.findByUser(user.id)"
                routerLink="/admin/submissions/single/{{ submission.id }}">
                <!-- TO DO: add task title -->
                {{ submission.task.title }}
            </a>
        </li>
    </ul>
</div>